<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <form method="post">
            <label for="email">Email:</label>
            <input type="text" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <div class="register-link">
            <a href="/register">Register</a>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    
    <!-- <div class="login-details">
        <h2>Login Details</h2>
        <ul>
            {% for login_detail in login_details %}
                <li>Email: {{ login_detail.email }}</li>
                <li>Username: {{ login_detail.user_name }}</li>
                <li>Password: {{ login_detail.password }}</li>
                <br>
            {% endfor %}
        </ul>
    </div> -->
    
</body>
</html>
