<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <form method="post">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <input type="submit" value="Register">
        </form>
        <div class="login-link">
            <a href="/login">Log in</a>
        </div>
        <div class="error-message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
